extends layout.pug

block content
  h1 Hello there !
  p.
    I'm Brice Andriantafika aka Gonendo, this is my personal website. I'll share 
    here all the projects i've been working on. You'll also get access to my
    different social networks accounts.