doctype
html(lang='en')
    head
        title Gonendo's Website
        link(href='https://static.none.dog/files/img/favicon.ico' rel='icon')
        link(href='https://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet')
        style.
            #{css}
        block scripts
    body
        div(id='banner')
            div(class='banner')
                div(class='banner-greeting')
                    p.banner-greeting-text Welcome to Gonendo's website
                div(class='social')
                    div(class='networks')
                        a(href='https://github.com/gonendo' target='_blank')
                            img(src="https://static.none.dog/files/img/github.png" alt='Gonendo\'s Github account')
                        a(href='https://youtube.com/gonendo' target='_blank')
                            img(src="https://static.none.dog/files/img/youtube.png" alt='Gonendo\'s Youtube channel')
                        a(href='http://www.linkedin.com/in/brice-andriantafika-898944176' target='_blank')
                            img(src="https://static.none.dog/files/img/linkedin.png" alt='Brice Andriantafika on Linkedin')
        section(id='content')
            div(class='content')
                block content
        footer
            div(class='footer')
                div(class='footer-inner')
                    p Webdesign and code © 2019 Brice 'Gonendo' Andriantafika