html
    head
        title Gonendo's Website
        link(href='https://fonts.googleapis.com/css?family=Roboto' rel="stylesheet")
        style.
            #{css}
        block scripts
    body
        block content
        footer
            div(class='footer')
                div(class='footer-inner')
                    p Webdesign and code © 2019 Brice 'Gonendo' Andriantafika