html
    head
        title Gonendo's Website
        block styles
            style
                include ../public/css/style.css
        block scripts
    body
        block content
        block foot
            #footer
                p.footer 2019 - Gonendo