@import 'nib'
body
    margin: 0
    padding: 0
    font-size: 100%

p,h1
    font-family: 'Source Code Pro', monospace

.banner
    background: linear-gradient(left, 70% #062b66, #4bacd8)
    height: 300px
    display: grid
    grid-template-columns: 50% 50%

.banner-greeting
    height: 300px
    display: flex
    flex-direction: column
    justify-content: center

.banner-greeting-text
    font-size: 2.5em
    font-weight: bold
    color: white
    margin-left: 70px

.social
    margin-top: 200px
    height: 100px

.networks
    absolute: right 70px
    width: 220px
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-column-gap: 10px
    justify-content: space-evenly

.content
    margin: 70px 70px 70px 70px
    width: 600px

.footer
    relative: bottom 0 left 0 right 0
    width: 100%

.footer-inner
    font-size: 0.9em
    color: black
    text-align: center